body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #444;
    color: white;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #8b41d183;
    background-image: url("/images/purplespace.jpg");
    width: 80%;
    height: 400px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register, .edit-profile, .cancel, .save {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.view-profile, .delete-block-user, .send-message, .back-to-list {
    background-color: #00acb0;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 15px;
    min-width: 50px;
    outline:0;
    cursor: pointer;
  }

 .delete-block-user {
    background-color: #b0004f;
    border-radius: 4px;
    color: #f8f8f8;
    min-height: 15px;
    min-width: 50px;
    outline:0;
    cursor: pointer;
  }

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.icon {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}